$color-primary: #A55EEA;
$color-primary-light: #BC85F2;
$color-primary-dark: #7519CE;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: black;

$color-green-1: #0BE10B;

// $color-green-1: #20bf6b; 