.about {

    // display: inline-block;
    text-align: center;
    // transform: translateX(-50%);
    // margin-left: 50%;
    
    // &__text-box {
    //     display: block;
    //     margin: 0 auto;
    //     margin-left: 50%;
    //     transform: translateX(-50%);
    // }

    &__text {
        font-size: 2rem; 
        text-align: center;
    }
}