.card {
    border-radius: 4px;
    overflow: hidden;
    background-color: $color-grey-light-2;
    margin: 10rem 5rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .3);
    transition: all .2s;
    
    &__image {
        width: 100%;
    }
    
    &__container {
        padding: 2rem 0;
        text-align: center;
        margin-bottom: 2rem;
        padding: 0 2rem;
    }

    &__description {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }

    &__title {
        font-size: 2rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}